*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(217, 175, 217, 0.548) 0%, rgba(151, 218, 225, 0.521) 100%), url(../img/imagine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.hamburguer{
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius:  10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2)
}

.menu-navigation{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%);
 background-blend-mode: screen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-ot;
    transform: translate(100%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}

.spread{
    transform: translate(0);
}

.menu-navigation a{
    color: #fff;
    text-decoration: none;
}